<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setup</title>
</head>
<body>

<h1>Choose SSH host</h1>
<form method="post">
    <p><input type="text" name="host" placeholder="host"></p>
    <p><input type="text" name="port" placeholder="port"></p>
    <p><input type="submit"></p>
</form>

</body>
</html>